StudentHelperApp/Connected Services/UnitConverterServiceRef/UnitConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://studenthelperapp.local/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://studenthelperapp.local/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://studenthelperapp.local/Imports">
      <xsd:import schemaLocation="http://localhost:61074/UnitConverter.svc?xsd=xsd0" namespace="http://studenthelperapp.local/" />
      <xsd:import schemaLocation="http://localhost:61074/UnitConverter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnitConverterService_ConvertUnits_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertUnits" />
  </wsdl:message>
  <wsdl:message name="IUnitConverterService_ConvertUnits_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="IUnitConverterService_GetSupportedUnits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedUnits" />
  </wsdl:message>
  <wsdl:message name="IUnitConverterService_GetSupportedUnits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="IUnitConverterService_HealthCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:HealthCheck" />
  </wsdl:message>
  <wsdl:message name="IUnitConverterService_HealthCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:HealthCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="IUnitConverterService">
    <wsdl:operation name="ConvertUnits">
      <wsdl:input wsaw:Action="http://studenthelperapp.local/IUnitConverterService/ConvertUnits" message="tns:IUnitConverterService_ConvertUnits_InputMessage" />
      <wsdl:output wsaw:Action="http://studenthelperapp.local/IUnitConverterService/ConvertUnitsResponse" message="tns:IUnitConverterService_ConvertUnits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedUnits">
      <wsdl:input wsaw:Action="http://studenthelperapp.local/IUnitConverterService/GetSupportedUnits" message="tns:IUnitConverterService_GetSupportedUnits_InputMessage" />
      <wsdl:output wsaw:Action="http://studenthelperapp.local/IUnitConverterService/GetSupportedUnitsResponse" message="tns:IUnitConverterService_GetSupportedUnits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HealthCheck">
      <wsdl:input wsaw:Action="http://studenthelperapp.local/IUnitConverterService/HealthCheck" message="tns:IUnitConverterService_HealthCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://studenthelperapp.local/IUnitConverterService/HealthCheckResponse" message="tns:IUnitConverterService_HealthCheck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>